<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.busticketreservation">
    <!-- permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusTicketReservation">
        <activity android:name=".Admin.UpdateRoute"
            android:theme="@style/AppTheme.NoActionBarHash"></activity>
        <activity android:name=".Admin.ViewRoute"
            android:theme="@style/AppTheme.NoActionBarHash"></activity>
        <activity android:name=".BusOwner.ViewBus" />
        <activity android:name=".BusOwner.UpdateAndDeleteBus" />
        <activity android:name=".BusOwner.AddBus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
        <activity android:name=".TripManager.TripMain" /> <!-- <activity -->
        <!-- android:name=".Admin.AdminMain" -->
        <!-- android:theme="@style/AppTheme.NoActionBarHash" /> -->
        <!-- <activity android:name=".hashTest" /> -->
        <activity
            android:name=".ViewUserProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Book_Bus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity android:name=".Select_Bus" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AddRoutes"
            android:theme="@style/AppTheme.NoActionBarHash" />
        <activity
            android:name=".Admin.AllRoutes"
            android:theme="@style/AppTheme.NoActionBarHash">




        </activity>
        <activity
            android:name=".Admin.AddUsers"
            android:theme="@style/AppTheme.NoActionBarHash" />



        <activity
            android:name=".Admin.AllUsers"
            android:theme="@style/AppTheme.NoActionBarHash" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>